# Questions to Answer

## - The stakeholder's first question is: does the MPAA rating of a movie (G/PG/PG-13/R) affect how much revenue the movie generates?

- They want you to perform a statistical test to get a mathematically-supported answer.
- They want you to report if you found a significant difference between ratings.
- If so, what was the p-value of your analysis?
- And which rating earns the most revenue?
- They want you to prepare a visualization that supports your finding.

## - It is then up to you to think of 2 additional hypotheses to test that your stakeholder may want to know.

    Some example hypotheses you could test:

- Do movies that are over 2.5 hours long earn more revenue than movies that are 1.5 hours long (or less)?
- Do movies released in 2020 earn less revenue than movies released in 2018?
- How do the years compare for movie ratings?
- Do some movie genres earn more revenue than others?
- Are some genres higher rated than others? etc.

# imports functions and connection

In [1]:
# imports
import pandas as pd
import pymysql
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm.notebook import tqdm_notebook
import glob
import json, os, time, math
import tmdbsimple as tmdb

In [2]:
import numpy as np
import seaborn as sns
import scipy.stats as stats
import matplotlib.pyplot as plt

In [3]:
import sqlalchemy
from sqlalchemy import create_engine

In [4]:
with open('/Users/marcolaureano2/.secret/mysql.json') as f:
    login = json.load(f)
login.keys()

dict_keys(['username', 'password'])

In [5]:
connection = f"mysql+pymysql://{login['username']}:{(login['password'])}@localhost/movie_database"
engine = create_engine(connection)
conn = engine.connect()

In [6]:
with open('/Users/marcolaureano2/.secret/tmdb_api.json', 'r') as f:
    login = json.load(f)
## Display the keys of the loaded dict
login.keys()

dict_keys(['client-id', 'api-key'])

In [7]:
tmdb.API_KEY =  login['api-key']

In [8]:
def get_movie_with_rating(movie_id):
    # get the movie object for the current id
    movie = tmdb.Movies(movie_id)
    
    # save the .info .releases dictionaries
    info = movie.info()
    
    releases = movie.releases()
    # loop through countries in releases
    for c in releases['countries']:
        # if the country abbreviation == US
        if c['iso_3166_1'] == 'US':
            # save a 'certification' key in info with the certification
            info['certification'] = c['certification']
    return info

In [9]:
def write_json(new_data, filename): 

    with open(filename,'r+') as file:
        # First we load existing data into a dict.
        file_data = json.load(file)
        ## Choose extend or append
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)
        # Sets file's current position at offset.
        file.seek(0)
        # convert back to json.
        json.dump(file_data, file)

In [10]:
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['tmdb_api_results_2010.json',
 'tmdb_api_results_2006.json',
 'IMDB Movie Dataset Info.docx',
 'api_resultsfinal_tmdb_data_2001.csv.gz',
 'tmdb_results_combined_2002.csv.gz',
 '.DS_Store',
 'tmdb_results_combined_2012.csv.gz',
 'tmdb_api_results_2007.json',
 'tmdb_api_results_2011.json',
 'tmdb_results_combined_2016.csv.gz',
 'tmdb_api_results_2020.json',
 'tmdb_api_results_2016.json',
 'tmdb_api_results_2000.json',
 'tmdb_api_results_2001.json',
 'final_tmdb_data_2002.csv.gz',
 'tmdb_api_results_2017.json',
 'tmdb_results_combined_2014.csv.gz',
 'tmdb_api_results_2021.json',
 'tmdb_api_results_2022.json',
 'tmdb_api_results_2018.json',
 'tmdb_api_results_2002.json',
 'tmdb_api_results_2014.json',
 'tmdb_api_results_2015.json',
 'TitleRatings.tsv',
 'tmdb_api_results_2003.json',
 'title-akas-us-only.csv',
 'tmdb_api_results_2019.json',
 'tmdb_results_combined_2013.csv.gz',
 'filtered_ratings.csv',
 'tmdb_results_combined_2001.csv.gz',
 'preprocessed_movie_data.csv',
 'final_tmdb_data_2001.csv.gz',
 '.ipynb_checkpoints',
 'tmdb_api_results_2004.json',
 'tmdb_api_results_2012.json',
 'TitleBasics.tsv',
 'tmdb_api_results_2008.json',
 'Data',
 'tmdb_api_results_2009.json',
 'tmdb_results_combined_2015.csv.gz',
 'tmdb_api_results_2013.json',
 'tmdb_api_results_2005.json']

In [11]:
basics = pd.read_csv('/Users/marcolaureano2/Documents/GitHub/Movie-Database/Data/preprocessed_movie_data.csv')
basics

,Unnamed: 0,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,61114,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,67666,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,81515,tt0083324,movie,The White Lions,The White Lions,0,NaN,NaN,97,Drama
4,86793,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
...,...,...,...,...,...,...,...,...,...,...
84543,10016225,tt9915130,movie,Meet John Doe,Meet John Doe,0,NaN,NaN,120,NaN
84544,10016544,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019.0,NaN,97,"Comedy,Drama,Fantasy"
84545,10016684,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama
84546,10016693,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller"
84547,10016777,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History"

# 2012, 2013, 2014

In [12]:
YEARS_TO_GET = [2012, 2013, 2014]
errors = [ ]

In [9]:
# OUTER loop
for YEAR in tqdm_notebook(YEARS_TO_GET, desc='YEARS', position=0):
    #Defining the JSON file to store results for year
    JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'
    file_exists = os.path.isfile(JSON_FILE)
    
    if file_exists == False:
        print(f"Creating {JSON_FILE} for API results for {YEAR}.")
    # save an empty dict with just "imdb_id" to the new json file.
        with open(JSON_FILE,'w') as f:
            json.dump([{'imdb_id':0}],f)
    
    df = basics.loc[ basics['startYear'] == YEAR].copy()
    movie_ids = df['tconst'].copy()
    movie_ids
    # Load existing data from json into a dataframe called "previous_df"
    previous_df = pd.read_json(JSON_FILE)
    previous_df
    
    # filter out any ids that are already in the JSON_FILE
    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]
    for movie_id in tqdm_notebook(movie_ids_to_get, f"Movies from {YEAR}", position = 1, leave=True):
        try:
    # Retrieve then data for the movie id
            temp = get_movie_with_rating(movie_id)  
    # Append/extend results to existing file using a pre-made function
            write_json(temp,JSON_FILE)
    # Short 20 ms sleep to prevent overwhelming server
            time.sleep(0.02)
        
        except Exception as e:
            errors.append([YEARS_TO_GET, e])
            continue
        
    final_year_df = pd.read_json(JSON_FILE)
    final_year_df.to_csv(f"{FOLDER}tmdb_results_combined_{YEAR}.csv.gz", compression="gzip", index=False)

YEARS:   0%|          | 0/3 [00:00<?, ?it/s]

Movies from 2012:   0%|          | 0/1246 [00:00<?, ?it/s]

Movies from 2013:   0%|          | 0/2973 [00:00<?, ?it/s]

Movies from 2014:   0%|          | 0/4968 [00:00<?, ?it/s]

# 2015, 2016

In [10]:
YEARS_TO_GET = [2015, 2016]

In [14]:
# OUTER loop
for YEAR in tqdm_notebook(YEARS_TO_GET, desc='YEARS', position=0):
    #Defining the JSON file to store results for year
    JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'
    file_exists = os.path.isfile(JSON_FILE)
    
    if file_exists == False:
        print(f"Creating {JSON_FILE} for API results for {YEAR}.")
    # save an empty dict with just "imdb_id" to the new json file.
        with open(JSON_FILE,'w') as f:
            json.dump([{'imdb_id':0}],f)
    
    df = basics.loc[ basics['startYear'] == YEAR].copy()
    movie_ids = df['tconst'].copy()
    movie_ids
    # Load existing data from json into a dataframe called "previous_df"
    previous_df = pd.read_json(JSON_FILE)
    previous_df
    
    # filter out any ids that are already in the JSON_FILE
    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]
    for movie_id in tqdm_notebook(movie_ids_to_get, f"Movies from {YEAR}", position = 1, leave=True):
        try:
    # Retrieve then data for the movie id
            temp = get_movie_with_rating(movie_id)  
    # Append/extend results to existing file using a pre-made function
            write_json(temp,JSON_FILE)
    # Short 20 ms sleep to prevent overwhelming server
            time.sleep(0.02)
        
        except Exception as e:
            errors.append([YEARS_TO_GET, e])
            continue
        
    final_year_df = pd.read_json(JSON_FILE)
    final_year_df.to_csv(f"{FOLDER}tmdb_results_combined_{YEAR}.csv.gz", compression="gzip", index=False)

YEARS:   0%|          | 0/3 [00:00<?, ?it/s]

Movies from 2012:   0%|          | 0/1246 [00:00<?, ?it/s]

Movies from 2013:   0%|          | 0/1198 [00:00<?, ?it/s]

Movies from 2014:   0%|          | 0/1172 [00:00<?, ?it/s]

# glob

In [15]:
final_year_df

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0329539,0.0,None,None,0.0,"[{'id': 35, 'name': 'Comedy'}]",,274341.0,en,Rice Girl,...,0.0,95.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"For Windy Yee, a big break in Hollywood can me...",Rice Girl,0.0,1.00,2.0,
2,tt0365907,0.0,/isrro0soStk2tSWMsI50lPPhUsU.jpg,None,28000000.0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",,169917.0,en,A Walk Among the Tombstones,...,58834384.0,114.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Some people are afraid of all the wrong things,A Walk Among the Tombstones,0.0,6.32,2636.0,R
3,tt0403935,0.0,/romORaZvZqMRjTPgw0HrAZpVn9V.jpg,None,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",,308165.0,hi,एक्शन जैकसन,...,0.0,144.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,"Naa Commitment, Naa Appointment, Only Punishment!",Action Jackson,0.0,4.40,27.0,NaN
4,tt0424859,0.0,None,None,0.0,[],,285294.0,en,The Ninth Cloud,...,0.0,93.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Even Reality can't stop Zena.,The Ninth Cloud,0.0,4.00,1.0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3792,tt9085782,0.0,None,None,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",,668763.0,kn,Power,...,6293794.0,173.0,"[{'english_name': 'Kannada', 'iso_639_1': 'kn'...",Released,,Power,0.0,5.00,2.0,NaN
3793,tt9208638,0.0,None,None,500.0,"[{'id': 27, 'name': 'Horror'}]",https://midnightreleasing.com/filmcatalog/carn...,782140.0,en,Carnivale Creepshow,...,0.0,74.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Come on in...to where the nightmares begin!,Carnivale Creepshow,0.0,2.00,1.0,
3794,tt9287460,0.0,None,None,0.0,"[{'id': 10751, 'name': 'Family'}, {'id': 12, '...",,415457.0,en,Max Saves the World,...,0.0,88.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,,Max Saves the World,0.0,0.00,0.0,
3795,tt9387330,0.0,/e62gV9Y4JkJyjedAw9UVBZBbSH5.jpg,None,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",,465566.0,zh,你是男的我也爱,...,0.0,98.0,"[{'english_name': 'Mandarin', 'iso_639_1': 'zh...",Released,,Like Love,0.0,7.00,1.0,
3796,tt9414086,0.0,None,None,0.0,[],,734268.0,en,The Day it Snowed in Miami,...,0.0,86.0,[],Released,,The Day it Snowed in Miami,0.0,0.00,0.0,

In [16]:
print(f"- Total errors: {len(errors)}")

- Total errors: 3615

In [17]:
import glob
# Use glob to get all filepaths that match the pattern (*=wildcard)
tmdb_calls = sorted(glob.glob("Data/tmdb_api_results*.json"))
tmdb_calls

['Data/tmdb_api_results_2000.json',
 'Data/tmdb_api_results_2001.json',
 'Data/tmdb_api_results_2002.json',
 'Data/tmdb_api_results_2003.json',
 'Data/tmdb_api_results_2004.json',
 'Data/tmdb_api_results_2005.json',
 'Data/tmdb_api_results_2006.json',
 'Data/tmdb_api_results_2007.json',
 'Data/tmdb_api_results_2008.json',
 'Data/tmdb_api_results_2009.json',
 'Data/tmdb_api_results_2010.json',
 'Data/tmdb_api_results_2011.json',
 'Data/tmdb_api_results_2012.json',
 'Data/tmdb_api_results_2013.json',
 'Data/tmdb_api_results_2014.json',
 'Data/tmdb_api_results_2015.json',
 'Data/tmdb_api_results_2016.json',
 'Data/tmdb_api_results_2017.json',
 'Data/tmdb_api_results_2018.json',
 'Data/tmdb_api_results_2019.json',
 'Data/tmdb_api_results_2020.json',
 'Data/tmdb_api_results_2021.json',
 'Data/tmdb_api_results_2022.json']

In [18]:
api_2000 = pd.read_json('Data/tmdb_api_results_2000.json')

In [19]:
api_2001 = pd.read_json('Data/tmdb_api_results_2001.json')

In [20]:
api_2002 = pd.read_json('Data/tmdb_api_results_2002.json')

In [21]:
api_2003 = pd.read_json('Data/tmdb_api_results_2003.json')

In [22]:
api_2004 = pd.read_json('Data/tmdb_api_results_2004.json')

In [23]:
api_2005 = pd.read_json('Data/tmdb_api_results_2005.json')

In [24]:
api_2006 = pd.read_json('Data/tmdb_api_results_2006.json')

In [25]:
api_2007 = pd.read_json('Data/tmdb_api_results_2007.json')

In [26]:
api_2008 = pd.read_json('Data/tmdb_api_results_2008.json')

In [27]:
api_2009 = pd.read_json('Data/tmdb_api_results_2009.json')

In [28]:
api_2010 = pd.read_json('Data/tmdb_api_results_2010.json')

In [29]:
api_2011 = pd.read_json('Data/tmdb_api_results_2011.json')

In [30]:
api_2012 = pd.read_json('Data/tmdb_api_results_2012.json')

In [31]:
api_2013 = pd.read_json('Data/tmdb_api_results_2013.json')

In [32]:
api_2014 = pd.read_json('Data/tmdb_api_results_2014.json')

In [33]:
api_2015 = pd.read_json('Data/tmdb_api_results_2015.json')

In [34]:
api_2016 = pd.read_json('Data/tmdb_api_results_2016.json')

In [35]:
api_2017 = pd.read_json('Data/tmdb_api_results_2017.json')

In [36]:
api_2018 = pd.read_json('Data/tmdb_api_results_2018.json')

In [37]:
api_2019 = pd.read_json('Data/tmdb_api_results_2019.json')

In [38]:
api_2020 = pd.read_json('Data/tmdb_api_results_2020.json')

In [39]:
api_2021 = pd.read_json('Data/tmdb_api_results_2021.json')

In [40]:
api_2022 = pd.read_json('Data/tmdb_api_results_2022.json')

In [41]:
api_years = [api_2000, api_2001, api_2002, api_2003, api_2004, 
             api_2005, api_2006, api_2007, api_2008, api_2009, 
             api_2010, api_2011, api_2012, api_2013, api_2014, 
             api_2015, api_2016, api_2017, api_2018, api_2019,
             api_2020, api_2021, api_2022
            ]

In [42]:
all_api_data = pd.concat(api_years)

In [43]:
all_api_data

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,None,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,
2,tt0113092,0.0,None,None,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.450,10.0,
3,tt0116391,0.0,None,None,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,,Gang,0.0,4.000,1.0,NaN
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,None,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",,843.0,cn,花樣年華,...,14204632.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.104,2344.0,PG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1722,tt15422244,0.0,/fbNi8ygJ2w3AljcSWFDKrfWuGxV.jpg,None,0.0,"[{'id': 18, 'name': 'Drama'}]",https://www.sonyliv.com/movies/saudi-vellaka-m...,873992.0,ml,സൗദി വെള്ളക്ക,...,0.0,146.0,"[{'english_name': 'Malayalam', 'iso_639_1': 'm...",Released,,Saudi Vellakka,0.0,7.800,6.0,NaN
1723,tt15422276,0.0,/ntGzo9lNetur0nUtVjJj39qn7a.jpg,None,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",,942393.0,pa,Main Viyah Nahi Karona Tere Naal,...,0.0,0.0,"[{'english_name': 'Punjabi', 'iso_639_1': 'pa'...",Released,,Main Viyah Nahi Karona Tere Naal,0.0,7.000,1.0,NaN
1724,tt15426246,0.0,/6KqccyEBwLJZtbF0lJCT1tEu8zB.jpg,None,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...",http://www.vmiworldwide.com/index.php/titles/d...,1028955.0,en,In Isolation,...,0.0,87.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,,In Isolation,0.0,3.929,7.0,
1725,tt15426294,0.0,/1179VQ6ckccWzgyS2PHxWMFDGKI.jpg,None,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...",,874355.0,en,Gone in the Night,...,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Some secrets are better left buried.,Gone in the Night,0.0,5.540,99.0,R
1726,tt15427078,0.0,None,None,0.0,[],,1038972.0,en,10 Eyes,...,0.0,90.0,[],Released,,10 Eyes,0.0,0.000,0.0,R

In [44]:
all_api_data = all_api_data.drop(columns=['adult', 'backdrop_path', 'belongs_to_collection', 'genres', 'homepage', 'id', 'original_language', 'original_title', 'runtime', 'spoken_languages', 'status', 'tagline', 'title', 'video', 'vote_average', 'vote_count'])

In [45]:
all_api_data = all_api_data.drop(columns = ['overview', 'popularity', 'poster_path', 'production_companies', 'production_countries', 'release_date'])

In [46]:
all_api_data

         imdb_id      budget     revenue certification
0              0         NaN         NaN           NaN
1      tt0113026  10000000.0         0.0
2      tt0113092         0.0         0.0
3      tt0116391         0.0         0.0           NaN
4      tt0118694    150000.0  14204632.0            PG
...          ...         ...         ...           ...
1722  tt15422244         0.0         0.0           NaN
1723  tt15422276         0.0         0.0           NaN
1724  tt15426246         0.0         0.0
1725  tt15426294         0.0         0.0             R
1726  tt15427078         0.0         0.0             R

[62016 rows x 4 columns]

In [47]:
all_api_data['certification'].isna().sum()

25176

In [48]:
all_api_data = all_api_data.dropna(subset=['certification'])

In [49]:
all_api_data.to_sql('tmdb_data', conn, if_exists='replace', index=False)

36840

# Queries

Does the MPAA rating of a movie (G/PG/PG-13/R) affect how much revenue the movie generates?

Do longer movies generate more revenue?

Do bigger budget movies generate more revenue?

- They want you to perform a statistical test to get a mathematically-supported answer.
- They want you to report if you found a significant difference between ratings.
- If so, what was the p-value of your analysis?
- And which rating earns the most revenue?
- They want you to prepare a visualization that supports your finding.

In [50]:
q = """SHOW TABLES

"""""
pd.read_sql(q, conn)

  Tables_in_movie_database
0                   genres
1                  ratings
2             title_basics
3             title_genres
4                tmdb_data

In [51]:
q = """SELECT *
FROM tmdb_data
LIMIT 5
"""""
pd.read_sql(q, conn)

     imdb_id      budget     revenue certification
0  tt0113026  10000000.0         0.0
1  tt0113092         0.0         0.0
2  tt0118694    150000.0  14204632.0            PG
3  tt0118852         0.0         0.0             R
4  tt0119273  15000000.0         0.0             R

# Visualizations