# Questions to Answer

## - The stakeholder's first question is: does the MPAA rating of a movie (G/PG/PG-13/R) affect how much revenue the movie generates?

- They want you to perform a statistical test to get a mathematically-supported answer.
- They want you to report if you found a significant difference between ratings.
- If so, what was the p-value of your analysis?
- And which rating earns the most revenue?
- They want you to prepare a visualization that supports your finding.

## - It is then up to you to think of 2 additional hypotheses to test that your stakeholder may want to know.

    Some example hypotheses you could test:

- Do movies that are over 2.5 hours long earn more revenue than movies that are 1.5 hours long (or less)?
- Do movies released in 2020 earn less revenue than movies released in 2018?
- How do the years compare for movie ratings?
- Do some movie genres earn more revenue than others?
- Are some genres higher rated than others? etc.

# imports functions and connection

In [1]:
# imports
import pandas as pd
import pymysql
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm.notebook import tqdm_notebook
import glob
import json, os, time, math
import tmdbsimple as tmdb

In [2]:
with open('/Users/marcolaureano2/.secret/tmdb_api.json', 'r') as f:
    login = json.load(f)
## Display the keys of the loaded dict
login.keys()

dict_keys(['client-id', 'api-key'])

In [3]:
tmdb.API_KEY =  login['api-key']

In [4]:
def get_movie_with_rating(movie_id):
    # get the movie object for the current id
    movie = tmdb.Movies(movie_id)
    
    # save the .info .releases dictionaries
    info = movie.info()
    
    releases = movie.releases()
    # loop through countries in releases
    for c in releases['countries']:
        # if the country abbreviation == US
        if c['iso_3166_1'] == 'US':
            # save a 'certification' key in info with the certification
            info['certification'] = c['certification']
    return info

In [5]:
def write_json(new_data, filename): 

    with open(filename,'r+') as file:
        # First we load existing data into a dict.
        file_data = json.load(file)
        ## Choose extend or append
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)
        # Sets file's current position at offset.
        file.seek(0)
        # convert back to json.
        json.dump(file_data, file)

In [6]:
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['IMDB Movie Dataset Info.docx',
 'api_resultsfinal_tmdb_data_2001.csv.gz',
 'tmdb_results_combined_2002.csv.gz',
 '.DS_Store',
 'tmdb_results_combined_2012.csv.gz',
 'tmdb_results_combined_2016.csv.gz',
 'tmdb_api_results_2016.json',
 'tmdb_api_results_2001.json',
 'final_tmdb_data_2002.csv.gz',
 'tmdb_results_combined_2014.csv.gz',
 'api_resultstmdb_api_results_[2001, 2002].json',
 'tmdb_api_results_2002.json',
 'tmdb_api_results_[2001, 2002].json',
 'tmdb_api_results_2014.json',
 'tmdb_api_results_2015.json',
 'TitleRatings.tsv',
 'tmdb_api_results_2003.json',
 'title-akas-us-only.csv',
 'tmdb_results_combined_2013.csv.gz',
 'filtered_ratings.csv',
 'tmdb_results_combined_2001.csv.gz',
 'preprocessed_movie_data.csv',
 'final_tmdb_data_2001.csv.gz',
 '.ipynb_checkpoints',
 'tmdb_api_results_2012.json',
 'TitleBasics.tsv',
 'Data',
 'tmdb_results_combined_2015.csv.gz',
 'tmdb_api_results_2013.json']

In [7]:
basics = pd.read_csv('/Users/marcolaureano2/Documents/GitHub/Movie-Database/Data/preprocessed_movie_data.csv')
basics

,Unnamed: 0,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,61114,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,67666,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,81515,tt0083324,movie,The White Lions,The White Lions,0,NaN,NaN,97,Drama
4,86793,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
...,...,...,...,...,...,...,...,...,...,...
84543,10016225,tt9915130,movie,Meet John Doe,Meet John Doe,0,NaN,NaN,120,NaN
84544,10016544,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019.0,NaN,97,"Comedy,Drama,Fantasy"
84545,10016684,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama
84546,10016693,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller"
84547,10016777,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History"

# 2012, 2013, 2014

In [9]:
YEARS_TO_GET = [2012, 2013, 2014]
errors = [ ]

In [9]:
# OUTER loop
for YEAR in tqdm_notebook(YEARS_TO_GET, desc='YEARS', position=0):
    #Defining the JSON file to store results for year
    JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'
    file_exists = os.path.isfile(JSON_FILE)
    
    if file_exists == False:
        print(f"Creating {JSON_FILE} for API results for {YEAR}.")
    # save an empty dict with just "imdb_id" to the new json file.
        with open(JSON_FILE,'w') as f:
            json.dump([{'imdb_id':0}],f)
    
    df = basics.loc[ basics['startYear'] == YEAR].copy()
    movie_ids = df['tconst'].copy()
    movie_ids
    # Load existing data from json into a dataframe called "previous_df"
    previous_df = pd.read_json(JSON_FILE)
    previous_df
    
    # filter out any ids that are already in the JSON_FILE
    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]
    for movie_id in tqdm_notebook(movie_ids_to_get, f"Movies from {YEAR}", position = 1, leave=True):
        try:
    # Retrieve then data for the movie id
            temp = get_movie_with_rating(movie_id)  
    # Append/extend results to existing file using a pre-made function
            write_json(temp,JSON_FILE)
    # Short 20 ms sleep to prevent overwhelming server
            time.sleep(0.02)
        
        except Exception as e:
            errors.append([YEARS_TO_GET, e])
            continue
        
    final_year_df = pd.read_json(JSON_FILE)
    final_year_df.to_csv(f"{FOLDER}tmdb_results_combined_{YEAR}.csv.gz", compression="gzip", index=False)

YEARS:   0%|          | 0/3 [00:00<?, ?it/s]

Movies from 2012:   0%|          | 0/1246 [00:00<?, ?it/s]

Movies from 2013:   0%|          | 0/2973 [00:00<?, ?it/s]

Movies from 2014:   0%|          | 0/4968 [00:00<?, ?it/s]

# 2015, 2016

In [10]:
YEARS_TO_GET = [2015, 2016]

In [29]:
# OUTER loop
for YEAR in tqdm_notebook(YEARS_TO_GET, desc='YEARS', position=0):
    #Defining the JSON file to store results for year
    JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'
    file_exists = os.path.isfile(JSON_FILE)
    
    if file_exists == False:
        print(f"Creating {JSON_FILE} for API results for {YEAR}.")
    # save an empty dict with just "imdb_id" to the new json file.
        with open(JSON_FILE,'w') as f:
            json.dump([{'imdb_id':0}],f)
    
    df = basics.loc[ basics['startYear'] == YEAR].copy()
    movie_ids = df['tconst'].copy()
    movie_ids
    # Load existing data from json into a dataframe called "previous_df"
    previous_df = pd.read_json(JSON_FILE)
    previous_df
    
    # filter out any ids that are already in the JSON_FILE
    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]
    for movie_id in tqdm_notebook(movie_ids_to_get, f"Movies from {YEAR}", position = 1, leave=True):
        try:
    # Retrieve then data for the movie id
            temp = get_movie_with_rating(movie_id)  
    # Append/extend results to existing file using a pre-made function
            write_json(temp,JSON_FILE)
    # Short 20 ms sleep to prevent overwhelming server
            time.sleep(0.02)
        
        except Exception as e:
            errors.append([YEARS_TO_GET, e])
            continue
        
    final_year_df = pd.read_json(JSON_FILE)
    final_year_df.to_csv(f"{FOLDER}tmdb_results_combined_{YEAR}.csv.gz", compression="gzip", index=False)

YEARS:   0%|          | 0/2 [00:00<?, ?it/s]

Movies from 2015:   0%|          | 0/1239 [00:00<?, ?it/s]

Movies from 2016:   0%|          | 0/1211 [00:00<?, ?it/s]

# glob

In [35]:
final_year_df

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0315642,0.0,/lD6lYulY6js9EAgUufh2ekNnCR4.jpg,None,5200000.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",,275269.0,hi,वज़ीर,...,9200000.0,103.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,This new year make your best move,Wazir,0.0,6.627,110.0,PG-13
2,tt0376479,0.0,/fDxdfM4Qj2Qhc6EZYPyB3k4xatw.jpg,None,0.0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",http://www.americanpastoral.movie/,326285.0,en,American Pastoral,...,0.0,108.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,A radically ordinary story.,American Pastoral,0.0,6.149,638.0,R
3,tt0443533,0.0,/iU9ij6jSQOJDPFnqBUPzEY2eOs6.jpg,None,20000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",,410366.0,en,The History of Love,...,0.0,134.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,,The History of Love,0.0,6.471,86.0,NaN
4,tt0470936,0.0,None,None,0.0,[],,532608.0,hy,"Tak erkir, tsurt dzmer",...,0.0,104.0,"[{'english_name': 'Armenian', 'iso_639_1': 'hy...",Released,,"Hot Country, Cold Winter",0.0,0.000,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4111,tt9434008,0.0,None,None,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...",,398655.0,zh,荒村怨灵,...,0.0,90.0,"[{'english_name': 'Mandarin', 'iso_639_1': 'zh...",Released,,Strange Battle,0.0,0.000,0.0,NaN
4112,tt9547878,0.0,None,None,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",,914301.0,zh,Hi高考君,...,0.0,0.0,"[{'english_name': 'Mandarin', 'iso_639_1': 'zh...",Released,,Hi高考君,0.0,0.000,0.0,NaN
4113,tt9741588,0.0,/f2HAgJuweEdeQJi4Mzshu6WxRPD.jpg,None,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",,475943.0,en,Couple of Days,...,0.0,103.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,,Couple of Days,0.0,3.000,2.0,NaN
4114,tt9753312,0.0,/ifhAWtypQ7RBNYKxU674WTdSaio.jpg,None,0.0,[],,417568.0,pt,O que seria deste mundo sem paixão?,...,0.0,72.0,[],Released,,What of This World Without Passion?,0.0,5.000,1.0,NaN
4115,tt9894668,0.0,None,None,0.0,[],,427126.0,es,IKEA2,...,0.0,0.0,"[{'english_name': 'Spanish', 'iso_639_1': 'es'...",Released,60,IKEA2,0.0,5.200,5.0,NaN

In [30]:
print(f"- Total errors: {len(errors)}")

- Total errors: 2450

In [40]:
import glob
# Use glob to get all filepaths that match the pattern (*=wildcard)
tmdb_calls = sorted(glob.glob("Data/tmdb_api_results*.json"))
tmdb_calls

['Data/tmdb_api_results_2000.json',
 'Data/tmdb_api_results_2001.json',
 'Data/tmdb_api_results_2002.json',
 'Data/tmdb_api_results_2003.json',
 'Data/tmdb_api_results_2004.json',
 'Data/tmdb_api_results_2005.json',
 'Data/tmdb_api_results_2006.json',
 'Data/tmdb_api_results_2007.json',
 'Data/tmdb_api_results_2008.json',
 'Data/tmdb_api_results_2009.json',
 'Data/tmdb_api_results_2010.json',
 'Data/tmdb_api_results_2011.json',
 'Data/tmdb_api_results_2012.json',
 'Data/tmdb_api_results_2013.json',
 'Data/tmdb_api_results_2014.json',
 'Data/tmdb_api_results_2015.json',
 'Data/tmdb_api_results_2016.json',
 'Data/tmdb_api_results_2017.json',
 'Data/tmdb_api_results_2018.json',
 'Data/tmdb_api_results_2019.json',
 'Data/tmdb_api_results_2020.json',
 'Data/tmdb_api_results_2021.json',
 'Data/tmdb_api_results_2022.json']

In [47]:
api_2000 = pd.read_json('Data/tmdb_api_results_2000.json')

In [48]:
api_2001 = pd.read_json('Data/tmdb_api_results_2001.json')

In [49]:
api_2002 = pd.read_json('Data/tmdb_api_results_2002.json')

In [50]:
api_2003 = pd.read_json('Data/tmdb_api_results_2003.json')

In [51]:
api_2004 = pd.read_json('Data/tmdb_api_results_2004.json')

In [52]:
api_2005 = pd.read_json('Data/tmdb_api_results_2005.json')

In [53]:
api_2006 = pd.read_json('Data/tmdb_api_results_2006.json')

In [54]:
api_2007 = pd.read_json('Data/tmdb_api_results_2007.json')

In [55]:
api_2008 = pd.read_json('Data/tmdb_api_results_2008.json')

In [56]:
api_2009 = pd.read_json('Data/tmdb_api_results_2009.json')

In [57]:
api_2010 = pd.read_json('Data/tmdb_api_results_2010.json')

In [58]:
api_2011 = pd.read_json('Data/tmdb_api_results_2011.json')

In [59]:
api_2012 = pd.read_json('Data/tmdb_api_results_2012.json')

In [60]:
api_2013 = pd.read_json('Data/tmdb_api_results_2013.json')

In [61]:
api_2014 = pd.read_json('Data/tmdb_api_results_2014.json')

In [62]:
api_2015 = pd.read_json('Data/tmdb_api_results_2015.json')

In [63]:
api_2016 = pd.read_json('Data/tmdb_api_results_2016.json')

In [64]:
api_2017 = pd.read_json('Data/tmdb_api_results_2017.json')

In [65]:
api_2018 = pd.read_json('Data/tmdb_api_results_2018.json')

In [66]:
api_2019 = pd.read_json('Data/tmdb_api_results_2019.json')

In [67]:
api_2020 = pd.read_json('Data/tmdb_api_results_2020.json')

In [68]:
api_2021 = pd.read_json('Data/tmdb_api_results_2021.json')

In [69]:
api_2022 = pd.read_json('Data/tmdb_api_results_2022.json')

In [71]:
api_years = [api_2000, api_2001, api_2002, api_2003, api_2004, 
             api_2005, api_2006, api_2007, api_2008, api_2009, 
             api_2010, api_2011, api_2012, api_2013, api_2014, 
             api_2015, api_2016, api_2017, api_2018, api_2019,
             api_2020, api_2021, api_2022
            ]

In [72]:
all_api_data = pd.concat(api_years)

In [73]:
all_api_data

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,None,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,
2,tt0113092,0.0,None,None,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.450,10.0,
3,tt0116391,0.0,None,None,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,,Gang,0.0,4.000,1.0,NaN
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,None,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",,843.0,cn,花樣年華,...,14204632.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.104,2344.0,PG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1722,tt15422244,0.0,/fbNi8ygJ2w3AljcSWFDKrfWuGxV.jpg,None,0.0,"[{'id': 18, 'name': 'Drama'}]",https://www.sonyliv.com/movies/saudi-vellaka-m...,873992.0,ml,സൗദി വെള്ളക്ക,...,0.0,146.0,"[{'english_name': 'Malayalam', 'iso_639_1': 'm...",Released,,Saudi Vellakka,0.0,7.800,6.0,NaN
1723,tt15422276,0.0,/ntGzo9lNetur0nUtVjJj39qn7a.jpg,None,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",,942393.0,pa,Main Viyah Nahi Karona Tere Naal,...,0.0,0.0,"[{'english_name': 'Punjabi', 'iso_639_1': 'pa'...",Released,,Main Viyah Nahi Karona Tere Naal,0.0,7.000,1.0,NaN
1724,tt15426246,0.0,/6KqccyEBwLJZtbF0lJCT1tEu8zB.jpg,None,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...",http://www.vmiworldwide.com/index.php/titles/d...,1028955.0,en,In Isolation,...,0.0,87.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,,In Isolation,0.0,3.929,7.0,
1725,tt15426294,0.0,/1179VQ6ckccWzgyS2PHxWMFDGKI.jpg,None,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...",,874355.0,en,Gone in the Night,...,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Some secrets are better left buried.,Gone in the Night,0.0,5.540,99.0,R
1726,tt15427078,0.0,None,None,0.0,[],,1038972.0,en,10 Eyes,...,0.0,90.0,[],Released,,10 Eyes,0.0,0.000,0.0,R