In [1]:
## Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
## Importing the OS and JSON Modules
import os,json
import sqlalchemy
import pymysql
from sqlalchemy import create_engine

In [2]:
with open('/Users/marcolaureano2/.secret/mysql.json') as f:
    login = json.load(f)
login.keys()

dict_keys(['username', 'password'])

In [3]:
connection = f"mysql+pymysql://{login['username']}:{(login['password'])}@localhost/movie_database"
engine = create_engine(connection)
conn = engine.connect()

In [4]:
basics_df = pd.read_csv('/Users/marcolaureano2/Documents/GitHub/Movie-Database/Data/preprocessed_movie_data.csv')
basics_df.head()

,Unnamed: 0,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,61114,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,67666,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,81515,tt0083324,movie,The White Lions,The White Lions,0,NaN,NaN,97,Drama
4,86793,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"

In [5]:
basics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84548 entries, 0 to 84547
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      84548 non-null  int64
 1   tconst          84548 non-null  object
 2   titleType       84548 non-null  object
 3   primaryTitle    84548 non-null  object
 4   originalTitle   84548 non-null  object
 5   isAdult         84548 non-null  int64
 6   startYear       81889 non-null  float64
 7   endYear         0 non-null      float64
 8   runtimeMinutes  84548 non-null  int64
 9   genres          83066 non-null  object
dtypes: float64(2), int64(3), object(5)
memory usage: 6.5+ MB

# Extract and normalize genres column

In [6]:
basics_df['genres'].head()

0    Comedy,Fantasy,Romance
1                     Drama
2                     Drama
3                     Drama
4      Comedy,Horror,Sci-Fi
Name: genres, dtype: object

In [7]:
basics_df['genres'].value_counts()

Drama                          16463
Comedy                          6810
Horror                          3931
Comedy,Drama                    3803
Drama,Romance                   2481
                               ...
Animation,Biography,Sport          1
Adventure,History,Music            1
Adventure,History,War              1
Drama,Musical,Sport                1
Mystery,Reality-TV,Thriller        1
Name: genres, Length: 851, dtype: int64

In [8]:
# Drop rows with null values in runtimeMinutes
basics_df = basics_df.dropna(subset='genres')
basics_df

,Unnamed: 0,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,61114,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,67666,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,81515,tt0083324,movie,The White Lions,The White Lions,0,NaN,NaN,97,Drama
4,86793,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
...,...,...,...,...,...,...,...,...,...,...
84542,10016149,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019.0,NaN,74,Drama
84544,10016544,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019.0,NaN,97,"Comedy,Drama,Fantasy"
84545,10016684,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama
84546,10016693,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller"
84547,10016777,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History"

In [9]:
basics_df['genres_split'] = basics_df['genres'].str.split(',')
basics_df

,Unnamed: 0,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,61114,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,[Drama]
2,67666,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,[Drama]
3,81515,tt0083324,movie,The White Lions,The White Lions,0,NaN,NaN,97,Drama,[Drama]
4,86793,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
...,...,...,...,...,...,...,...,...,...,...,...
84542,10016149,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019.0,NaN,74,Drama,[Drama]
84544,10016544,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019.0,NaN,97,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]"
84545,10016684,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama,[Drama]
84546,10016693,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
84547,10016777,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History","[Drama, History]"

In [10]:
exploded_genres = basics_df.explode('genres_split')
exploded_genres

,Unnamed: 0,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Romance
1,61114,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,Drama
2,67666,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,Drama
...,...,...,...,...,...,...,...,...,...,...,...
84546,10016693,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Action
84546,10016693,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Adventure
84546,10016693,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Thriller
84547,10016777,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",Drama
84547,10016777,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",History

In [11]:
genres_split = basics_df['genres'].str.split(',')

In [12]:
genres_split

0           [Comedy, Fantasy, Romance]
1                              [Drama]
2                              [Drama]
3                              [Drama]
4             [Comedy, Horror, Sci-Fi]
                     ...
84542                          [Drama]
84544         [Comedy, Drama, Fantasy]
84545                          [Drama]
84546    [Action, Adventure, Thriller]
84547                 [Drama, History]
Name: genres, Length: 83066, dtype: object

In [13]:
unique_genres = genres_split.explode().unique()
unique_genres

array(['Comedy', 'Fantasy', 'Romance', 'Drama', 'Horror', 'Sci-Fi',
       'Action', 'Biography', 'Family', 'Mystery', 'Adventure', 'Music',
       'Crime', 'Thriller', 'History', 'Animation', 'Sport', 'Adult',
       'War', 'Musical', 'Western', 'Reality-TV', 'News', 'Talk-Show',
       'Game-Show'], dtype=object)

In [14]:
basics_df['genres'].isna().sum()

0

In [15]:
unique_genres = sorted(exploded_genres['genres_split'].unique())

In [16]:
# Create new title_genres tables
title_genres = exploded_genres[['tconst', 'genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0069049        Drama

In [17]:
# Create a genre mapper dictionary to replace string genres with integers
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Sport': 20,
 'Talk-Show': 21,
 'Thriller': 22,
 'War': 23,
 'Western': 24}

In [18]:
genre_id_map = dict(zip(unique_genres, range(len(unique_genres))))
genre_id_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Sport': 20,
 'Talk-Show': 21,
 'Thriller': 22,
 'War': 23,
 'Western': 24}

# replace the string genres in title_genres with new integer ids

In [19]:
basics_df['genre_id'] = basics_df['genres_split'].replace(genre_map)
basics_df

,Unnamed: 0,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split,genre_id
0,34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]","[Comedy, Fantasy, Romance]"
1,61114,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,[Drama],[Drama]
2,67666,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,[Drama],[Drama]
3,81515,tt0083324,movie,The White Lions,The White Lions,0,NaN,NaN,97,Drama,[Drama],[Drama]
4,86793,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]","[Comedy, Horror, Sci-Fi]"
...,...,...,...,...,...,...,...,...,...,...,...,...
84542,10016149,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019.0,NaN,74,Drama,[Drama],[Drama]
84544,10016544,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019.0,NaN,97,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]","[Comedy, Drama, Fantasy]"
84545,10016684,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama,[Drama],[Drama]
84546,10016693,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller","[Action, Adventure, Thriller]","[Action, Adventure, Thriller]"
84547,10016777,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History","[Drama, History]","[Drama, History]"

In [20]:
basics_df = basics_df.drop(columns = 'genres_split')

In [21]:
basics_df

,Unnamed: 0,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genre_id
0,34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,61114,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,[Drama]
2,67666,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,[Drama]
3,81515,tt0083324,movie,The White Lions,The White Lions,0,NaN,NaN,97,Drama,[Drama]
4,86793,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
...,...,...,...,...,...,...,...,...,...,...,...
84542,10016149,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019.0,NaN,74,Drama,[Drama]
84544,10016544,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019.0,NaN,97,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]"
84545,10016684,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama,[Drama]
84546,10016693,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
84547,10016777,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History","[Drama, History]"

In [22]:
basics_df = basics_df.drop(columns = 'Unnamed: 0')

In [23]:
genre_lookup = pd.DataFrame({'genre_name': genre_id_map.keys(), 'genre_id':genre_id_map.values()})
genre_lookup.head()

  genre_name  genre_id
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

In [24]:
genre_lookup.to_sql('genres', conn, if_exists='replace', index=False)

25

In [25]:
title_genres.to_sql('title_genres', conn, if_exists='replace', index=False)

154807

In [26]:
engine.execute('ALTER TABLE tmdb_data ADD PRIMARY KEY (`imdb_id`);')

In [27]:
tmdb_data = pd.read_csv('/Users/marcolaureano2/Documents/GitHub/Movie-Database/tmdb_data.csv')
tmdb_data.head()

,Unnamed: 0,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,tt0035423,0.0,/hfeiSfWYujh6MKhtGTXyK3DD4nN.jpg,NaN,48000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 14, ...",NaN,11232.0,en,...,76019048.0,118.0,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,"If they lived in the same century, they'd be p...",Kate & Leopold,0.0,6.328,1232.0,PG-13
2,2,tt0114447,0.0,NaN,NaN,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,151007.0,en,...,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,They left him for dead... They should have fin...,The Silent Force,0.0,5.000,3.0,NaN
3,3,tt0116916,0.0,/rFpHBidSlhjflmnLu7BZilyKeQR.jpg,NaN,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,73549.0,en,...,0.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,The Dark Mist,0.0,3.500,2.0,PG
4,4,tt0118589,0.0,/9NZAirJahVilTiDNCHLFcdkwkiy.jpg,NaN,22000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,10696.0,en,...,5271666.0,104.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"In music she found her dream, her love, herself.",Glitter,0.0,4.405,132.0,PG-13

In [28]:
tmdb_data = tmdb_data.drop(columns=['Unnamed: 0', 'adult', 'backdrop_path', 'belongs_to_collection', 'genres', 'homepage', 'id', 'original_language', 'runtime', 'spoken_languages', 'status', 'tagline', 'title', 'video', 'vote_average', 'vote_count'])

In [29]:
tmdb_data = tmdb_data.drop(columns=['original_title', 'overview', 'popularity', 'poster_path', 'production_companies', 'production_countries', 'release_date'])

In [30]:
tmdb_data

         imdb_id      budget     revenue certification
0              0         NaN         NaN           NaN
1      tt0035423  48000000.0  76019048.0         PG-13
2      tt0114447         0.0         0.0           NaN
3      tt0116916         0.0         0.0            PG
4      tt0118589  22000000.0   5271666.0         PG-13
...          ...         ...         ...           ...
2705   tt8302928         0.0         0.0           NaN
2706   tt8474326         0.0         0.0           NaN
2707   tt8825252         0.0         0.0           NaN
2708  tt11623578         0.0         0.0           NaN
2709   tt3408768         0.0         0.0           NaN

[2710 rows x 4 columns]

In [31]:
tmdb_data.to_sql('tmdb_data', conn, if_exists='replace', index=False)

2710

# TEST QUERIES

In [32]:
q = """SHOW TABLES

"""""
pd.read_sql(q, conn)

  Tables_in_movie_database
0                   genres
1                  ratings
2             title_basics
3             title_genres
4                tmdb_data

In [33]:
q = """ SELECT *
FROM genres
LIMIT 5
"""""
pd.read_sql(q, conn)

  genre_name  genre_id
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

In [34]:
q = """ SELECT *
FROM title_genres
LIMIT 5
"""""
pd.read_sql(q, conn)

      tconst genres_split
0  tt0035423       Comedy
1  tt0035423      Fantasy
2  tt0035423      Romance
3  tt0062336        Drama
4  tt0069049        Drama

In [36]:
q = """SELECT *
FROM tmdb_data
LIMIT 5

"""""
pd.read_sql(q, conn)

     imdb_id      budget     revenue certification
0          0         NaN         NaN          None
1  tt0035423  48000000.0  76019048.0         PG-13
2  tt0114447         0.0         0.0          None
3  tt0116916         0.0         0.0            PG
4  tt0118589  22000000.0   5271666.0         PG-13